body{
    font-family: 'Cabin', sans-serif;
    font-size: 20px;
    font-weight: 300;
}

/*---------CONtACTO------*/

.body-contacto{
    background-image: url(../img/banner.productos.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0;
}